# === Core Data Analysis ===
pandas>=2.2.2
numpy>=1.26.4

# === Visualization ===
matplotlib>=3.8.4
seaborn>=0.13.2
wordcloud>=1.9.3
plotly>=5.21.0
pyLDAvis>=3.2.2

# === Statistical Analysis ===
scipy>=1.13.0
statsmodels>=0.14.1
pingouin

# === Machine Learning ===
scikit-learn>=1.4.2

# === NLP & Text Processing ===
nltk>=3.8.1
spacy>=3.7.4
gensim>=4.3.2
sentence-transformers>=2.7.0
transformers>=4.40.2
torch>=2.3.0
umap-learn>=0.5.6
bertopic>=0.16.0
hdbscan>=0.8.0
reportlab==3.6.2

# Run the below commands on bash terminal
# python -m spacy download en_core_web_sm
# python -m spacy download en_core_web_md
